		</main>
		<footer class="footer mt-auto py-3 fixed-bottom bg-dark">
			<div>
				<span></span>
			</div>
		</footer>

		<script>
			const year = new Date().getFullYear();
			document.querySelector('footer span').innerText = '@' + year + " aspektor";
		</script>
	</body>

</html>
