<div id="sort" class="row mb-3 bg-light">
    <div class="col-12 col-sm-12 col-md-12 col-lg-1 d-flex bg-dark justify-content-center align-items-center text-uppercase"><span>Sort</span></div>
    
    <div class="col-2 col-sm-3 col-lg-2 btn-group dropup mr-0">
        <button type="button" class="btn btn-light dropdown-toggle mx-0" onclick="sortUsersByNumber(this, 'age')" aria-haspopup="true" aria-expanded="false">
            by age
        </button>
    </div>

    <div class="col-3 col-sm-3 col-lg-3 btn-group dropup mx-0">
        <button type="button" class="btn btn-light dropdown-toggle mx-0" onclick="sortUsersByNumber(this, 'distance')" aria-haspopup="true" aria-expanded="false">
            by location
        </button>
    </div>

    <div class="col-3 col-sm-3  col-lg-3 btn-group dropup mx-0">
        <button type="button" class="btn btn-light dropdown-toggle mx-0"  onclick="sortUsersByNumber(this, 'rat')" aria-haspopup="true" aria-expanded="false">
            by famerate
        </button>
    </div>

    <div class="col-4 col-sm-3 col-lg-3 btn-group dropup mx-0">
        <button type="button" class="btn btn-light dropdown-toggle mx-0"  onclick="sortUsersByInterests(this, interests)" aria-haspopup="true" aria-expanded="false">
            by common tags
        </button>
    </div>
    
</div>
    